heat_template_version: 2016-04-08
description: Create a pool member
resources:
  lb:
    type: OS::Neutron::LBaaS::LoadBalancer
    properties:
      name: my_lb12
      vip_subnet: private-subnet
  listener:
    type: OS::Neutron::LBaaS::Listener
    properties:
      name: my_listener1
      protocol_port: 80
      protocol: HTTP
      loadbalancer: {get_resource: lb}
  pool:
    type: OS::Neutron::LBaaS::Pool
    properties:
      name: my_pool1
      lb_algorithm: ROUND_ROBIN
      listener: {get_resource: listener}
      protocol: HTTP
  member1:
    type: OS::Neutron::LBaaS::PoolMember
    properties:
      pool: {get_resource: pool}
      address: 10.0.0.5
      protocol_port: 80
      weight: 1
      subnet: private-subnet
  member2:
    type: OS::Neutron::LBaaS::PoolMember
    properties:
      pool: {get_resource: pool}
      address: 10.0.0.6
      protocol_port: 80
      weight: 1
      subnet: private-subnet
